<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.UserDao">

	<resultMap type="com.entity.CoffeeUser" id="findByIdMap">
		<id column="user_id" property="userId"></id>
		<result column="user_name" property="userName"></result>
		<result column="user_sex" property="userSex"></result>
		<result column="user_phone" property="userPhone"></result>
		<result column="user_address" property="userAddress"></result>
		<result column="user_portrait" property="userPortrait"></result>
		<result column="user_nick" property="userNick"></result>
		<result column="user_password" property="userPassword"></result>
		<result column="take_out" property="takeOut"></result>
		<result column="created_time" property="createdTime"></result>
		<result column="updated_time" property="updatedTime"></result>
		<result column="deleted_flag" property="deletedFlag"></result>
	</resultMap>

	<select id="findUserByPhone"  parameterType="java.lang.String" resultMap="findByIdMap">
		select
			*
		from COFFEE_USER
		where
			"user_phone"=#{userPhone} and "deleted_flag"=0
	</select>

	<select id="findUserById"  parameterType="java.lang.Integer" resultMap="findByIdMap">
		SELECT
			*
		FROM
			COFFEE_USER
		WHERE
			"user_id"=#{userId}
	</select>

	<update id="changeAvatar" parameterType="com.entity.CoffeeUser">
		update COFFEE_USER
		<set>
			"user_portrait"=#{userPortrait},
			"updated_time" = sysdate
		</set>
		<where>
			"user_id"=#{userId}
		</where>
	</update>

	<update id="changeAddress" parameterType="com.entity.CoffeeUser">
		update COFFEE_USER
		<set>
			"user_address"=#{userAddress},
			"updated_time" = sysdate
		</set>
		<where>
			"user_id"=#{userId}
		</where>
	</update>


	<update id="changeTakeOut" parameterType="com.entity.CoffeeUser">
		update COFFEE_USER
		<set>
			"take_out"=#{takeOut},
			"updated_time" = sysdate
		</set>
		<where>
			"user_id"=#{userId}
		</where>
	</update>

	<update id="changeSex" parameterType="com.entity.CoffeeUser">
		update COFFEE_USER
		<set>
			"user_sex"=#{userSex},
			"updated_time" = sysdate
		</set>
		<where>
			"user_id"=#{userId}
		</where>
	</update>


	<update id="updateUserMsg" parameterType="com.entity.CoffeeUser">
		update COFFEE_USER
		<set >
			<if test="userName != null" >
				"user_name" = #{userName},
			</if>
			<if test="userPhone != null" >
				"user_phone" = #{userPhone},
			</if>
			<if test="userAddress != null" >
				"user_address" = #{userAddress},
			</if>
			<if test="userNick != null" >
				"user_nick" = #{userNick},
			</if>
			<if test="userPassword != null" >
				"user_password" = #{userPassword},
			</if>
			"updated_time" = sysdate
		</set>
		where
		      "user_id"=#{userId}
	</update>

	<insert id="createUser" parameterType="com.entity.CoffeeUser">
		insert into COFFEE_USER(
			"user_name",
			"user_phone",
			"user_portrait",
			"user_nick",
			"user_password"
		)
		values (
				   #{userName},
				   #{userPhone},
				   #{userPortrait},
				   #{userNick},
				   #{userPassword}
			   )
	</insert>

</mapper>