<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qc.yuigon.dao.Yuigon3Dao">

     <resultMap type="com.qc.yuigon.entity.LastWill" id="Lastwillmap">

		<id column="MEMBER_NO" property="memberNo"></id>
		<result column="TITLE" property="title"></result>
		<result column="WILL_BODY" property="willBody"></result>
		<result column="SIGN" property="sign"></result>
		<result column="UP_MODE" property="upMode"></result>
		<result column="LAST_UPDATE_DATE" property="lastUpdateDate"></result>	
	</resultMap>
	


<select id="findLastWord" parameterType="java.lang.Integer" resultMap="Lastwillmap">

	select MEMBER_NO,TITLE,WILL_BODY,SIGN,UP_MODE,LAST_UPDATE_DATE
	from TBT_LAST_WILL
	where
	member_no=#{memberNo}

</select>


	    <resultMap type="com.qc.yuigon.entity.LivingWill" id="findlivingWordmap">

			<id column="MEMBER_NO" property="memberNo"></id>
			<result column="TITLE" property="title"></result>
			<result column="LIVING_WILL_BODY" property="livingWillBody"></result>
			<result column="SIGN" property="sign"></result>
			<result column="LAST_UPDATE_DATE" property="lastUpdateDate"></result>	
	
		</resultMap>


<select id="findLivingWill" parameterType="java.lang.Integer" resultMap="findlivingWordmap">

	select MEMBER_NO,TITLE,LIVING_WILL_BODY,SIGN,LAST_UPDATE_DATE
	from TBT_LIVING_WILL
	where
	member_no=#{memberNo}

</select>

   <resultMap type="com.qc.yuigon.entity.Member" id="findmembermap">

			<id column="MEMBER_NO" property="memberNo"></id>
			<result column="LOGIN_ID" property="loginId"></result>
			<result column="PASSWORD" property="password"></result>
			<result column="LAST_NAME" property="lastName"></result>
			<result column="FIRST_NAME" property="firstName"></result>	
			<result column="LAPSE_DATE" property="lapseDate"></result>	
			
		</resultMap>


	<select id="findmemberbyid" parameterType="java.lang.Integer" resultMap="findmembermap">

		select MEMBER_NO,LOGIN_ID,PASSWORD,LAST_NAME,FIRST_NAME,LAPSE_DATE
		from TBM_MEMBER
		where
		member_no=#{memberNo}

	</select>
	
	
	
	  <resultMap type="com.qc.yuigon.entity.LoginUpdateHistory" id="findmemberhistorymap">

			<id column="MEMBER" property="member"></id>
			<result column="LOGIN_UPDATE_DATE" property="loginUpdateDate"></result>
			<result column="UPDATE_SBT" property="updateSbt"></result>	
		</resultMap>
		
		<select id="findhistory" parameterType="java.lang.Integer" resultMap="findmemberhistorymap">

		select LOGIN_UPDATE_DATE,MEMBER,UPDATE_SBT
		from   TBT_LOGIN_UPDATE_HISTORY  
		where member=#{memberNo} ORDER BY LOGIN_UPDATE_DATE DESC
		LIMIT 0,10

	</select>

   <resultMap type="com.qc.yuigon.yuigon3vo.MemberHistory" id="findmap">

			<!-- <id column="MEMBER_NO" property="memberNo"></id> -->
			
			<id column="MEMBER_NO" property="memberNo"></id>
			<result column="LOGIN_ID" property="loginId"></result>
			<result column="PASSWORD" property="password"></result>
			<result column="LAST_NAME" property="lastName"></result>
			<result column="FIRST_NAME" property="firstName"></result>	
			
			
			<result column="LOGIN_UPDATE_DATE" property="loginUpdateDate"></result>
			<result column="MEMBER" property="member"></result>
			<result column="UPDATE_SBT" property="updateSbt"></result>
			
		</resultMap>

 <select id="findmembermessage" parameterType="java.lang.Integer" resultMap="findmap">

	select MEMBER_NO,LOGIN_ID,PASSWORD,LAST_NAME,FIRST_NAME,LOGIN_UPDATE_DATE,MEMBER,UPDATE_SBT
	from TBM_MEMBER
	Left JOIN  TBT_LOGIN_UPDATE_HISTORY  ON TBT_LOGIN_UPDATE_HISTORY.MEMBER = TBM_MEMBER.MEMBER_NO
	where member_no=#{memberNo} ORDER BY LOGIN_UPDATE_DATE DESC
	LIMIT 0,10

</select>  


	<insert id="inserthistorybyId" parameterType="java.lang.Integer" >  
       insert into TBT_LOGIN_UPDATE_HISTORY(
      LOGIN_UPDATE_DATE,
      MEMBER, 
      UPDATE_SBT
      )
    values (
    now(),	    
     #{value}, 
    'L'			
      )
  </insert>



</mapper>